=breadcrumb_tag do
  %li.active
    = t('headers.tours.new')
  %li
    = link_to t('headers.tours.index'), tours_path()
  %li
    Главная
.page-header
  %h1= t('headers.tours.new')

= render 'form'

= link_to t('buttons.back'), tours_path, class: 'btn btn-default'
