=breadcrumb_tag do
  %li.active
    = @tour.route.name + @tour.date_start.strftime(" (%d.%m.%Y)")
  %li
    = link_to t('headers.tours.index'), tours_path()
  %li
    Главная

.page-header
  %h1= @tour.route.name + @tour.date_start.strftime(" (%d.%m.%Y)")
.row 
  .col-md-12
    %b= Tour.human_attribute_name(:route)
    %p= @tour.route.name
    
    %b= Tour.human_attribute_name(:date_start)
    %p= @tour.date_start.strftime("%d.%m.%Y")
    
    %b= Tour.human_attribute_name(:count_days)
    %p= @tour.count_days

    %b= Tour.human_attribute_name(:add_pay)
    %p= @tour.add_pay

    %b= Tour.human_attribute_name(:add_description)
    %p= @tour.add_description

= link_to edit_tour_path(@tour), class: 'btn btn-info' do
  = fa_icon :edit
  = t('buttons.edit')
= link_to t('buttons.back'), tours_path, class: 'btn btn-default'

