=breadcrumb_tag do
  %li.active
    = t('headers.excursions.edit')
  %li
    = link_to "#{@excursion.name}", @excursion
  %li
    = link_to t('headers.excursions.index'), excursions_path()
  %li
    Главная

.page-header
  %h1= t('headers.excursions.edit')


= render 'form'

= link_to t('buttons.back'), excursions_path, class: 'btn btn-default'
